/*
CSS-ში position პროპერტი გამოიყენება ელემენტების პოზიცირების გადასაადგილებლად. მას რამდენიმე მნიშვნელობა აქვს, რომლებიც სხვადასხვა გზით მოქმედებენ ელემენტის განლაგებაზე:

1. static:

ელემენტი განლაგებულია (ზევიდან ქვემოთ, მარცხნიდან მარჯვნივ).

ამ პროპერტზე არ მოქმედებს top, right, bottom ან left თვისებები.


.element {
    position: static;
}


2. relative:

ელემენტი მდებარეობს თავის საწყის ადგილას .

ელემენტი შეგიძლიათ გადაადგილოთ top, right, bottom ან left თვისებებით.


.element {
    position: relative;
    top: 10px; /* ელემენტი გადაადგილდება 10px-ით ქვემოთ 
}


3. absolute:

ელემენტი განლაგებულია ახლოს მდებარე ელემენტის მიმართ (რომელიც არ არის static).

ელემენტი ამოღებულია  ნაკადიდან, რაც იმას ნიშნავს, რომ ის ვერ აითვისებს იმ ადგილს, სადაც ჩვეულებრივ დგება.


.element {
    position: absolute;
    top: 50px;
    left: 100px;
}


4. fixed:

ელემენტი განლაგებულია (გვერდის ხილული ნაწილის) მიმართ.

იგი რჩება იმავე ადგილას, სადაც გვერდი გადატრიალდება.


.element {
    position: fixed;
    top: 0;
    left: 0;
}


5. sticky:

ელემენტი განლაგებულია სქროლვის ადგილმდებარეობის მიხედვით.

თავდაპირველად ის relative-ის მსგავსად მოქმედებს, მაგრამ როცა ის გარკვეულ პუნქტს მიაღწევს, ხდება fixed.


.element {
    position: sticky;
    top: 0;
}



 /*