.custom-link {
    text-decoration: none;
    color: rgb(255, 145, 0);
    font-size: 16px;
    border-bottom: 1px d transparent;
    transition: all 0.3s ease;
  }
  
  .custom-link:hover {
    color: rgb(255, 60, 0);
    font-size: 18px;
    border-bottom: 1px  rgb(0, 0, 0);
  }